#cart-container{
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: max-content;
    width: 75vw;
    padding: 25px;
    border: solid whitesmoke;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover{
    cursor: pointer;
}
#proceed{
    color: ghostwhite;
    border: 0;
}
#proceed:hover{
    background-color: rgb(255, 3, 125);
    color: white;
}
#items{
    display: grid;
grid-template-columns: repeat(3,1fr);
=======
    margin: auto;
    width: 400px;
    height: 100%;
    border: solid whitesmoke;
    float: right;
    overflow: scroll;
>>>>>>> cbd2d317f70bf6b965df1f48712720d4789c4ed1
}
#items>.item,#tp{
    border: 1px solid  rgb(241, 241, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    height: fit-content;
}
#tp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#items > .item  h3{
    margin-top: 0px;
}
.item>div{
    margin-left: 10px;
}
.item{
    padding: 10px;
}
h6,p,span{
    margin-top: 0px;
    padding: 0px;
}
div h6{
    display: inline;
}
h6+button{
    margin: 10px;
}
#tp > button{
    width: 40%;
    height: 90%;
    padding: 10px;
    background-color: rgb(232, 0, 113);
    border-color: rgb(232, 0, 113);
    text-decoration-color: white;
    border-radius: 6px;
}
#tp > h2{
    margin: auto;
    margin-left: 0px;
}
#tp{
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    border-color: white;
    position: static;
}

@media screen and (max-width:1000px) {
#items {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:800px) {
    #items {
        grid-template-columns: repeat(1, 1fr);
    }
}